/*<div class="btAzul"><button>Ok</button></div>*/
.btCeleste{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;   
    background-color:skyblue;background-color:rgba(60,132,198,0.8);
    background:linear-gradient(rgba(28,91,155,.8) 0%,rgba(108,191,255,.9) 90%);
    border:2px solid #CCC;
    border-color:#8BA2C1 #5890BF #4F93CA #768FA5;
    -webkit-box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
    box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
  } 
  .btCeleste button{
    margin:0 auto;
    display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btCeleste button:hover{width: 100%;}
    /*------------------------------*/
  .btVerde{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;    
    background-color:green;background-color:rgba(60, 198, 90, 0.8);
    background:linear-gradient(rgba(23, 124, 62, 0.8) 0%,rgba(167, 255, 108, 0.9) 90%);
    border:2px solid #CCC;
    border-color:rgb(152, 193, 139) rgb(109, 191, 88) rgb(79, 202, 79) rgb(123, 165, 118);
    -webkit-box-shadow:rgba(86, 240, 66, 0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(86, 240, 66, 0.5) 0px 10px 16px;
    box-shadow:rgba(86, 240, 66, 0.5) 0px 10px 16px;
  } 
  .btVerde button{
    margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btVerde button:hover{width: 100%;}
  .btAmarillo{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;  
    background-color:yellow;background-color:rgba(255, 197, 7, 0.856);
    background:linear-gradient(rgba(147, 155, 28, 0.8) 0%,rgba(255, 228, 108, 0.9) 90%);
    border:2px solid #CCC;
    border-color:rgb(193, 188, 139) rgb(189, 191, 88)rgb(221, 218, 21) rgb(165, 158, 118);
    -webkit-box-shadow:rgba(223, 240, 66, 0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(223, 240, 66, 0.5) 0px 10px 16px;
    box-shadow:rgba(223, 240, 66, 0.5) 0px 10px 16px;
  } 
  .btAmarillo button{
    margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255, 255, 255, 0.25);
    background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btAmarillo button:hover{width: 100%;}
 
  /*------------------------------*/
  .btNaranja{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;    
    background-color:orange;background-color:rgb(219, 114, 16);
    background:linear-gradient(rgba(155, 75, 28, 0.8) 0%,rgba(248, 107, 12, 0.9) 90%);
    border:2px solid #CCC;
    border-color: burlywood rgb(228, 148, 28) rgb(226, 139, 24) rgb(230, 132, 21);
    -webkit-box-shadow:rgba(240, 159, 66, 0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(240, 159, 66, 0.5) 0px 10px 16px;
    box-shadow:rgba(240, 159, 66, 0.5) 0px 10px 16px;
  } 
  .btNaranja button{
    margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25); 
    background:linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%);
  }
  .btNaranja button:hover{width: 100%;}
  /*------------------------------*/
  .btRojo{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;    
    background-color:red;background-color:rgba(235, 26, 26, 0.8);
    background:linear-gradient(rgba(214, 35, 22, 0.8) 0%,rgba(235, 90, 6, 0.9) 90%);
    border:2px solid #CCC;
    border-color: rgb(212, 69, 69) rgb(248, 77, 55) rgb(209, 52, 52) rgb(245, 38, 38);
    -webkit-box-shadow:rgba(240, 66, 66, 0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(240, 66, 66, 0.5) 0px 10px 16px;
    box-shadow:rgba(240, 66, 66, 0.5) 0px 10px 16px;
  } 
  .btRojo button{
    margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btRojo button:hover{width: 100%;}
     /*------------------------------*/
     .btMarron{
      margin:0 auto;
      width:10em;height:2em;   cursor:pointer;
      -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;    
      background-color:burlywood;background-color:rgba(198, 177, 60, 0.8);
        background:linear-gradient(linear,0% 0%,0% 90%,from(rgba(124, 84, 23, 0.8)),  to(rgba(255, 186, 108, 0.9)));
      border:2px solid #CCC;
      border-color: burlywood rgb(191, 150, 88) rgb(202, 149, 79) rgb(165, 141, 118);
      -webkit-box-shadow:rgba(240, 159, 66, 0.5) 0px 10px 16px;
      -moz-box-shadow:rgba(240, 159, 66, 0.5) 0px 10px 16px;
      box-shadow:rgba(240, 159, 66, 0.5) 0px 10px 16px;
    } 
    .btMarron button{
      margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
      text-align:center;    border:none;   cursor:pointer;
      -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
      font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
      color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
      background-color:transparent;background-color:rgba(255,255,255,0.25);
      background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
    }
    .btMarron button:hover{width: 100%;}
  /*------------------------------*/
  .btNegro{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;    
    background-color:black;background-color:rgba(0, 0, 0, 0.8);
    background:linear-gradient(rgba(6, 7, 7, 0.8) 0%,rgba(75, 80, 72, 0.9) 90%);
    border:2px solid #CCC;
    border-color: black rgb(20, 20, 20) rgb(0, 0, 0) rgb(0, 0, 0);
    -webkit-box-shadow:rgba(119, 116, 116, 0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(87, 83, 83, 0.5) 0px 10px 16px;
    box-shadow:rgba(24, 24, 24, 0.5) 0px 10px 16px;
  } 
  .btNegro button{
    margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
    
  }
  .btNegro button:hover{width: 100%;}
  /*------------------------------*/
  .btBlanco{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;   
    background-color:white;background-color:rgba(224, 224, 224, 0.8);
    background:linear-gradient(rgba(160, 160, 160, 0.8) 0%,rgba(255, 255, 255, 0.9) 90%);
    border:2px solid #CCC;
    border-color:rgb(230, 230, 230) rgb(202, 202, 202) rgb(231, 231, 231) rgb(180, 180, 180);
    -webkit-box-shadow:rgba(255, 255, 255, 0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(253, 253, 253, 0.5) 0px 10px 16px;
    box-shadow:rgba(245, 245, 245, 0.5) 0px 10px 16px;
  } 
  .btBlanco button{
    margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btBlanco button:hover{width: 100%;}
   /*------------------------------*/
   .btMagenta{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;   
    background-color:magenta;background-color:rgba(198, 60, 152, 0.8);
    background:linear-gradient(rgba(124, 23, 70, 0.8) 0%,rgba(255, 108, 177, 0.9) 90%);
    border:2px solid #CCC;
    border-color:rgb(193, 139, 180) rgb(191, 88, 131) rgb(202, 79, 140) rgb(165, 118, 140);
    -webkit-box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
    box-shadow:rgba(198, 60, 106,0.5) 0px 10px 16px;
  } 
  .btMagenta button{
    margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255,255,255,.7)), to(rgba(255,255,255,0))); 
    background-image:-moz-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btMagenta button:hover{width: 100%;}
   /*------------------------------*/
   .btLila{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;   
    background-color:purple;background-color:rgba(182, 60, 198, 0.8);
    background:linear-gradient(rgba(112, 23, 124, 0.8) 0%,rgba(208, 108, 255, 0.9) 90%);
    border:2px solid #CCC;
    border-color:rgb(176, 139, 193) rgb(174, 88, 191) rgb(188, 79, 202) rgb(152, 118, 165);
    -webkit-box-shadow:rgba(112, 23, 124,0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(112, 23, 124,0.5) 0px 10px 16px;
    box-shadow:rgba(112, 23, 124,0.5) 0px 10px 16px;
  } 
  .btLila button{
    margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255,255,255,.7)), to(rgba(255,255,255,0))); 
    background-image:-moz-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btLila button:hover{width: 100%;}
  /*------------------------------*/
  .btturquesa{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;   
    background-color:cyan;background-color:rgba(60, 182, 198, 0.8);
    background:linear-gradient(rgba(28, 58, 155, 0.8) 0%,rgba(108, 255, 255, 0.9) 90%);
    border:2px solid #CCC;
    border-color:rgb(139, 182, 193) rgb(88, 145, 191) #4F93CA #768FA5;
    -webkit-box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
    box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
  } 
  .btturquesa button{
    margin:0 auto;
    display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btturquesa button:hover{width: 100%;}
   /*------------------------------*/
  .btAzul{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;   
    background-color:blue;background-color:rgba(69, 60, 198, 0.8);
    background:linear-gradient(rgba(28, 58, 155, 0.8) 0%,rgba(108, 135, 255, 0.9) 90%);
    border:2px solid #CCC;
    border-color:rgb(139, 156, 193) rgb(88, 90, 191) rgb(97, 79, 202) rgb(118, 121, 165);
    -webkit-box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
    box-shadow:rgba(66,140,240,0.5) 0px 10px 16px;
  } 
  .btAzul button{
    margin:0 auto;
    display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btAzul button:hover{width: 100%;}
  /*------------------------------*/
  .btGris{
    margin:0 auto;
    width:10em;height:2em;   cursor:pointer;
    -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;   
    background-color:gray;background-color:rgba(224, 224, 224, 0.575);
    background:linear-gradient(rgba(160, 160, 160, 0.089) 0%,rgba(255, 255, 255, 0.616) 90%);
    border:2px solid #CCC;
    border-color:rgba(230, 230, 230, 0.5) rgba(202, 202, 202, 0.507) rgba(231, 231, 231, 0.5) rgba(180, 180, 180, 0.322);
    -webkit-box-shadow:rgba(255, 255, 255, 0.5) 0px 10px 16px;
    -moz-box-shadow:rgba(253, 253, 253, 0.5) 0px 10px 16px;
    box-shadow:rgba(245, 245, 245, 0.5) 0px 10px 16px;
  } 
  .btGris button{
    margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
    text-align:center;    border:none;   cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
    font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
    color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
    background-color:transparent;background-color:rgba(255,255,255,0.25);
    background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
  }
  .btGris button:hover{width: 100%;}
    /*------------------------------*/
    .btRosado{
      margin:0 auto;
      width:10em;height:2em;   cursor:pointer;
      -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;    
      background-color:pink;background-color:rgba(235, 26, 131, 0.8);
      background:linear-gradient(rgba(214, 22, 70, 0.836) 0%,rgba(235, 6, 132, 0.9) 90%);
      border:2px solid #CCC;
      border-color:rgb(193, 139, 162) rgb(191, 88, 145) rgb(202, 79, 147) rgb(165, 118, 165);
      -webkit-box-shadow:rgba(240, 66, 66, 0.5) 0px 10px 16px;
      -moz-box-shadow:rgba(240, 66, 66, 0.5) 0px 10px 16px;
      box-shadow:rgba(240, 66, 66, 0.5) 0px 10px 16px;
    } 
    .btRosado button{
      margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
      text-align:center;    border:none;   cursor:pointer;
      -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
      font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
      color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
      background-color:transparent;background-color:rgba(255,255,255,0.25);
      background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
    }
    .btRosado button:hover{width: 100%;}
        /*------------------------------*/
        .btMarronOscuro{
          margin:0 auto;
          width:10em;height:2em;   cursor:pointer;
          -webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;    
          background-color:brown;background-color:rgba(198, 150, 60, 0.8);
            background:linear-gradient(linear,0% 0%,0% 90%,from(rgba(124, 55, 23, 0.8)),  to(rgba(255, 155, 108, 0.9)));
          border:2px solid #CCC;
          border-color: burlywood rgb(191, 134, 88) rgb(202, 149, 79) rgb(165, 141, 118);
          -webkit-box-shadow:rgba(240, 159, 66, 0.5) 0px 10px 16px;
          -moz-box-shadow:rgba(240, 159, 66, 0.5) 0px 10px 16px;
          box-shadow:rgba(240, 159, 66, 0.5) 0px 10px 16px;
        } 
        .btMarronOscuro button{
          margin:0 auto;display:block;overflow:visible;width:90%;height:60%;padding-top:0.3em;
          text-align:center;    border:none;   cursor:pointer;
          -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
          font:1em/1 "Lucida Sans",Helvetica,Verdana,sans-serif;font-weight:600;
          color:#FFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;
          background-color:transparent;background-color:rgba(255,255,255,0.25);
          background:linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 95%);
        }
        .btMarronOscuro button:hover{width: 100%;}
  